<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
  <h1>Benvinguts</h1>
  <p>selecciona una sessió:</p>

  <ul>
    <li><a href="/architects">Arquitectes</a></li>
    <li><a href="/publications">Publicacions</a></li>
    <li><a href="/reform">Reformes</a></li>
    <li><a href="/buildings">Construccions</a></li>
    <li><a href="/prizes">Premios</a></li>
    <li><a href="/nomenclature">Nomenclatures</a></li>
    <li><a href="/typology">Tipologies</a></li>
    <li><a href="/protection">Proteccions</a></li>
  </ul>
</body>

</html>