<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
  <h1>Bienvenido</h1>
  <p>Selecciona una sección:</p>

  <ul>
    <li><a href="/architects">Ver arquitectos</a></li>
    <li><a href="/publications">Ver publicaciones</a></li>
    <li><a href="/reform">Reformas</a></li>
    <li><a href="/buildings">Construcciones</a></li>
    <li><a href="/prizes">Premios</a></li>
    <li><a href="/nomenclature">Nomenclaturas</a></li>
    <li><a href="/typology">Tipologías</a></li>
    <li><a href="/protection">Protecciones</a></li>
  </ul>
</body>

</html>