<h1><%= publicacion.title %></h1>
<p><%= publicacion.description %></p>
<p><strong>Tema:</strong> <%= publicacion.themes %></p>
<p><em><%= publicacion.acknowledgment %></em></p>
<a href="/">Volver</a>